<div class="homepage-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= image_path('card_image.jpg')%>);">
  <div class="home-card-details">
    <h1>SIGN UP</h2>
    <h2>For the tool renting service you've been waiting for</h2>
  </div>
</div>
