.account-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 20px;
}

.account-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.tool-card {
  width: 100%;
  border: 1px solid #FC5E2A;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  margin: 8px 0;
}

.tool-card > img {
  width: 30%;
  margin-right: 8px;
}

.tool-card-infos > h5 {
  font-weight: lighter;
}
