.form-banner {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  height: 100%;
}

.form-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.form-container{
  display: flex;
  justify-content: center;
  color: white;
}

.other-container{
  display: flex;
  justify-content: center;
}

.form-actions{
  display: inline-block;
}

.form-header{
  display: flex;
  justify-content: center;
  margin: 30px;
  color: white;
}

.form-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
