
.form-container{
  display: flex;
  justify-content: center;
}

.other-container{
  display: flex;
  justify-content: center;
}

.form-actions{
  display: inline-block;
}

.form-header{
  display: flex;
  justify-content: center;
}
