.booking-users {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;margin-top: 10px;
  margin-top: 20px;
  height: 300px;
  grid-area: users;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "lender dates borrower"
}

.booking-users-lender {
  grid-area: lender;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.booking-users-lender-img > img {
  width: 1000px;
}

.booking-users-lender-name {
  // grid-area: lender-name;
}

.booking-users-borrower {
  grid-area: borrower;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.booking-users-borrower > img {

}

.booking-users-borrower-name {
  // grid-area: borrower-name;
}

.booking-dates {
  grid-area: dates;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}

.booking-tool {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-top: 20px;
  height: 300px;
  grid-area: tool;
}

.booking-tool-img {
  height: 200px;
}

.booking-tool-img > img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.booking-tool-details-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: -10px;
}

.booking-tool-name {
  padding: 15px 10px;
}


.booking-map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-top: 10px;
  grid-area: map;
}

p {
  margin: 0;
  padding: 0;
}
