.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #B4B3B1;
  color: white;
}

.btn-flat .btn-search-bar {
  border-radius: 30px;
}
