.testimonial-container {
  margin: 10px;
}

.testimonial-header-container {
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.testimonial-header {

}
