.homepage-banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding-left: 75px;
  margin: 0px 0px 20px 0px;
}

.home-card-details > h3 {
  font-weight: 150;
  display: flex;
}

.search-form-control {
  position: absolute;
  padding-top: 100px;
  width: 80%;
}

.search-form-control .btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 30px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 30px;
}

.search-form-control .form-control:focus {
  border: 1px solid $primary;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
