.search-form-control {
  position: absolute;
  padding-top: 100px;
  width: 80%;
  left: 10%
}

.search-form-control .btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 30px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 30px;
}

.search-form-control .form-control:focus {
  border: 1px solid $primary;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
