.owners-card {
  background-color: $primary;
  border-radius: 30px;
  display: flex;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 50px;
  margin-top: 30px;
}

.owner-steps {
  background-color: white;
  margin: 10px;
  border-radius: 30px;
  display: flex;
}

.owner-setup-steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px 60px 40px 60px;
}

.owner-setup-step {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px 60px 40px 60px;
  justify-self: center;
}


.step-number > h1 {
  width: 50px;
  border-radius: 50%;
  background-color: #FC5E2A;
  height: 50px;
  padding: 5px;
  font-size: 28px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
}

.set-up-text {
  font-size: 16px;
  color: #B4B3B1;
  text-shadow: none;
  font-weight: lighter;
}
