.tool-map {
}
@media (max-width: 980px) {
  .tool-map {
    display: none;
  }
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  p {
    list-style: none;
  }
}
