.owners-card {
  background: $white;
  color: black;
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
}

.owner-steps {
  background-color: $white;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.owner-setup-step {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.step-number {
  width: 200px;
  text-align: center;
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.step-number-num{
  width: 200px;
    color: white;
    background-color: $primary;
    height: 50px;
    border-radius: 5px
}


.set-up-text {
  font-size: 16px;
  color: #B4B3B1;
  text-shadow: none;
  font-weight: lighter;
}

.set-up-image > img {
  width: 80px;
}
