<div class="container">
  <h1>Your Account</h1>

  <div class="container">
    <div class="tool-cards"></div>
      <% @tools.each do |tool| %>
        <div class="card-tool">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-tool-infos">
            <h2><%= tool.name %></h2>
            <p> <%= tool.description %> </p>
            <%= link_to 'Details', tool %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "add a tool", new_tool_path, class:"btn btn-primary" %></div>
  </div>
</div>

